html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#map {
    height: 100%;
/*    position: relative;
   z-index: -1;
    overflow: hidden;*/
}

input {
	width: 144px;
}
h2 {
	font-size: 18px;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	-webkit-margin-before: 0.3em;
    -webkit-margin-after: 0.3em;
}
.instagram-div p {
	margin-top: 0.3em;
	margin-bottom: 0.6em;
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 0.6em;
    clear: both;
}

.instagram-div {
	float: left;
	width: 100%;
}

.insta-images {
	clear: both;
}

.insta-images img {

	height:120px;
	width: 125px;
	float: left;
	padding: 3px;
}

.gm-style-iw {

}
/*http://en.marnoto.com/2014/09/5-formas-de-personalizar-infowindow.html*/