html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#map {
    height: 100%;
/*    position: relative;
   z-index: -1;
    overflow: hidden;*/
}

.instagram-div {
	float: left;
}

.insta-images {
	clear: both;
}

.insta-images img {

	height:120px;
	float: left;
	padding-right: 5px;
}

.gm-style-iw {

}
/*http://en.marnoto.com/2014/09/5-formas-de-personalizar-infowindow.html*/